html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.slides {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: block mandatory;
  scroll-snap-type: y proximity;
  scroll-snap-type: y mandatory;
}

.slide {
  width: 100%;
  height: inherit;
  background-color: #1e2345;
  scroll-snap-align: end;
  scroll-snap-align: start;
  scroll-snap-align: center;
}

.slide:nth-child(even) {
  background-color: #108eb4;
}

.slide-container {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #d9e8f0;
}