html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.shapes {
  border: thick solid #000;
  padding: 1rem;
  margin: 0 auto 5rem;
  max-width: 800px;
}

.shapes img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.shape-1 {
  margin: 4rem 2rem 4rem 0;
  shape-outside: circle();
}

.shape-2 {
  margin: 4rem 0 4rem 2rem;
  shape-outside: ellipse();
}

.shape-3 {
  margin: 2rem 11rem 0 0;
  shape-outside: polygon(1% 14%, 12% 1%, 32% 1%, 44% 8%, 55% 18%, 63% 31%, 64% 41%, 59% 50%, 57% 59%, 53% 64%, 57% 70%, 60% 75%, 66% 83%, 76% 91%, 82% 97%, 1% 98%);
}