html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.card {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.relative {
  position: relative;
}

.backdrop-filter,
.backdrop-filter-multiple {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop-filter h3 {
  background-color: rgba(255, 102, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: grayscale(1);
  backdrop-filter: sepia(1);
  backdrop-filter: opacity(0.25);
  backdrop-filter: hue-rotate(180deg);
  backdrop-filter: blur(0.5rem);
  color: #ffffff;
  color: #000000;
  border-radius: 1rem;
  font-size: 3rem;
  padding: 2rem;
}

.backdrop-filter-multiple h3 {
  background-color: rgba(255, 102, 255, 0.5);
  backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0.75) invert(1);
  border-radius: 1rem;
  font-size: 3rem;
  padding: 2rem;
  color: #ffffff;
}