html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.text-shadow {
  font-size: 2rem;
  text-align: center;
  /* mov-x mov-y blur-radius color */
  text-shadow: -1rem -1rem 0.25rem hotpink;
}