html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.box-shadow {
  /* mov-x mov-y blur-radius spread-blur color inset/outset */
  box-shadow: 1rem 1rem 1rem 1rem #000000;
  box-shadow: -1rem -1rem 1rem 1rem #000000;
  box-shadow: 1rem 1rem 1rem 1rem #00000050;
  box-shadow: 1rem 1rem 1rem 1rem #000000 inset;
  box-shadow: 1rem 1rem 2rem 0.5rem #00000070;
}