html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.shadow-multiple {
  font-size: 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 1rem 1rem #00000050, 1rem 1rem 1rem 1rem #ff0000 inset, -0.5rem -0.5rem 0.5rem 2rem hotpink;
  text-shadow: -1rem -1rem 0.5rem navy, 1rem 1rem 0.5rem greenyellow;
}