html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  position: relative;
  border: thick double #d00;
  border-radius: 2rem;
  padding: 2rem;
  width: 70%;
  height: 70vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #d00;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s linear, transform 0.3s ease-in-out;
}

.modal-close:hover {
  background-color: #a00;
  transform: scale(1.2);
}