html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.slides {
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: inherit;
  background-color: #1e2345;
}

.slide-container {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #d9e8f0;
}

.carousel {
  border: thick solid #d938f0;
  display: flex;
  width: 50%;
  height: 50vh;
  font-size: 7vh;
  overflow-x: hidden;
}

.carousel-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow: scroll hidden;
  scroll-snap-type: inline proximity;
  scroll-snap-type: x proximity;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #108eb4;
  scroll-snap-align: center;
}

.carousel-slide:nth-child(even) {
  background-color: #1e2345;
}

.gradient-text {
  background-image: linear-gradient(45deg, magenta, yellow);
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}