html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  font-size: 5vw;
  animation: fadeIn 2s linear infinite alternate both;
}

.fade-out {
  font-size: 5vw;
  animation: fadeOut 2s linear infinite alternate both;
}