html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
}

.repeat-gradient-linear {
  background-image: repeating-linear-gradient(red 0px 10px, green 10px 20px, blue 20px 30px);
  background-image: repeating-linear-gradient(90deg, red 0px 10px, green 10px 20px, blue 20px 30px);
  background-image: repeating-linear-gradient(45deg, red 0px 10px, green 10px 20px, blue 20px 30px);
}

.repeat-gradient-radial {
  background-image: repeating-radial-gradient(circle 4rem, cyan 0px 10px, magenta 10px 20px, yellow 20px 30px);
}

.repeat-gradient-conic {
  background-image: repeating-conic-gradient(red 0% 8%, yellow 8% 16%, black 16% 24%);
}