html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.conic-gradient {
  background-image: conic-gradient(red, green);
  background-image: conic-gradient(red, green, blue);
  background-image: conic-gradient(red 0% 50%, green 60%, blue 80%);
  background-image: conic-gradient(red 0deg 90deg, green 120deg 240deg, blue 270deg);
  background-image: conic-gradient(from 90deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
  background-image: conic-gradient(from 180deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
  background-image: conic-gradient(from 270deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
  background-image: conic-gradient(from 90deg, red 0deg 120deg, white 120deg 240deg, blue 240deg);
}