html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.card {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.clip-path {
  clip-path: circle(2rem);
  clip-path: circle(100px);
  clip-path: circle(100px at top);
  clip-path: circle(100px at left);
  clip-path: circle(100px at right);
  clip-path: circle(100px at bottom);
  clip-path: circle(100px at left bottom);
  clip-path: circle(100px at right bottom);
  clip-path: circle(100px at left top);
  clip-path: circle(100px at right top);
  clip-path: circle(100px at 0 0);
  clip-path: circle(100px at 30%);
  clip-path: circle(100px at 30% 20%);
  clip-path: circle(100px at 20% 60%);
  clip-path: ellipse();
  clip-path: ellipse(1rem 2rem);
  clip-path: ellipse(2rem 1rem);
  clip-path: ellipse(100px 50px);
  clip-path: ellipse(100px 50px at left);
  clip-path: ellipse(100px 50px at right);
  clip-path: ellipse(100px 50px at top);
  clip-path: ellipse(100px 50px at bottom);
  clip-path: ellipse(100px 50px at left bottom);
  clip-path: ellipse(100px 50px at right bottom);
  clip-path: ellipse(100px 50px at left top);
  clip-path: ellipse(100px 50px at right bottom);
  clip-path: ellipse(100px 50px at 0 0);
  clip-path: ellipse(100px 50px at 300px 50px);
  clip-path: ellipse(100px 50px at 20% 60%);
  clip-path: ellipse(100px 50px at 18% 60%);
  clip-path: inset(2rem);
  clip-path: inset(4rem);
  clip-path: inset(2rem 1rem);
  clip-path: inset(3rem 2rem 1rem);
  clip-path: inset(3rem 2rem 1rem 0.5rem);
  clip-path: inset(1rem round 1rem);
  clip-path: inset(1rem round 1rem 2rem);
  clip-path: inset(1rem round 1rem 2rem 3rem);
  clip-path: inset(1rem round 1rem 2rem 3rem 4rem);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}