html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.radial-gradient {
  background-image: radial-gradient(cyan, magenta, yellow);
  background-image: radial-gradient(circle 4rem, cyan, magenta, yellow);
  background-image: radial-gradient(circle 4rem, cyan 30%, magenta 30% 80%, yellow);
  background-image: radial-gradient(circle 100px, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at top, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at bottom, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at left, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at right, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at top left, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at top right, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at top center, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at bottom left, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px at bottom right, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(ellipse 100px 50px, cyan 30%, magenta 60%, yellow 90%);
  background-image: radial-gradient(circle 100px, red 50%, white 50%);
}