html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 200px;
  height: 200px;
}

.card {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

/*
  - transition-property
  - transition-duration
  - transition-timing-function: none linear ease ease-in ease-out ease-in-out steps
  - transition-delay
  - transition: property duration timing-function delay
*/

.transitions .box {
  background-color: magenta;
  border-color: green;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 500ms;
  transition: border-color 1s linear 1s;
  /* transition: all 2s ease-in-out 250ms; */
  transition: background-color 2s ease-in-out 250ms, border-color 2s ease-in-out 250ms, border-radius 2s ease-in-out 250ms;
}

.transitions .box:hover {
  background-color: cyan;
  border-color: red;
  border-radius: 2rem;
  /*
    Hay propiedades que no son animables:
    - border-style: dashed;
  */
}

.transitions .card {
  transition: opacity 1s ease-out, border-color 3s steps(5), filter 2s ease-in 1s, box-shadow 1.5s linear 2s;
}

.transitions .card:hover {
  opacity: .75;
  border-color: orchid;
  filter: blur(.15rem);
  box-shadow: 1rem 1rem 2rem .5rem #000000;
}

.transitions .card img {
  transition: object-position 2s ease-in-out 3s;
}

.transitions .card img:hover {
  object-position: 100% 50%;
}