html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.linear-gradient {
  background-image: linear-gradient(red, green);
  background-image: linear-gradient(red, green, blue);
  background-image: linear-gradient(0deg, red, green, blue);
  background-image: linear-gradient(20deg, red, green, blue);
  background-image: linear-gradient(35deg, red, green, blue);
  background-image: linear-gradient(90deg, red, green, blue);
  background-image: linear-gradient(180deg, red, green, blue);
  background-image: linear-gradient(270deg, red, green, blue);
  background-image: linear-gradient(360deg, red, green, blue);
  background-image: linear-gradient(to right, red, green, blue);
  background-image: linear-gradient(to top, red, green, blue);
  background-image: linear-gradient(to bottom, red, green, blue);
  background-image: linear-gradient(to left, red, green, blue);
  background-image: linear-gradient(to top left, red, green, blue);
  background-image: linear-gradient(to top right, red, green, blue);
  background-image: linear-gradient(to bottom left, red, green, blue);
  background-image: linear-gradient(to bottom right, red, green, blue);
  background-image: linear-gradient(90deg, red 30%, green 60%, blue);
  background-image: linear-gradient(90deg, green 33%, white 34% 67%, red 68%);
}