html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  animation: pulse 1s linear infinite;
}

.mb-5 {
  margin-bottom: 5rem;
}

@keyframes heartColor {
  10% {
    background-color: #d00;
  }
}

.heart {
  position: relative;
  width: 10vw;
  height: 10vw;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 1s infinite;
}

.heart::after,
.heart::before {
  position: absolute;
  content: "";
  left: 5vw;
  top: 0;
  width: 5vw;
  height: 8vw;
  background-color: #a00;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  border-radius: 5vw 5vw 0 0;
  animation: heartColor 1s infinite;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}