html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.card {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 600px;
  height: 400px;
}

.bg-blend-mode {
  background-image: url("../img/puesta-sol.jpg"), url("../img/BuenosDias.jpg");
  background-size: cover;
  background-blend-mode: normal;
  background-blend-mode: color;
  background-blend-mode: color-dodge;
  background-blend-mode: color-burn;
  background-blend-mode: screen;
  background-blend-mode: saturation;
  background-blend-mode: luminosity;
  background-blend-mode: hue;
  background-blend-mode: difference;
  background-blend-mode: darken;
  background-blend-mode: overlay;
  background-blend-mode: lighten;
  background-blend-mode: soft-light;
  background-blend-mode: hard-light;
  background-blend-mode: exclusion;
  background-blend-mode: multiply;
}