html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.drop-shadow {
  width: 600px;
  height: auto;
}

.drop-shadow img {
  max-width: 100%;
  height: auto;
  /* mov-x mov-y blur-radius color */
  filter: drop-shadow(1rem 1rem 1rem orangered);
}