html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  border: thick solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
}

.chart-gradient {
  background-image: conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80% 100%);
  border-radius: 50%;
}

.donut-gradient {
  background-image:radial-gradient(white 40%, black 41%, transparent 43%), conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80% 100%);
  border-radius: 50%;
}